<div class="row">
  <mat-toolbar color="primary" class="col-md-12">
    <mat-toolbar-row>
      <span class="col-md-2">Icon</span>
      <div style="background-color: white" class="col-md-5" [class.mat-elevation-z2]="true">
        <form class="col-md-12">
          <mat-form-field class="col-md-12" style="color: black" [style.fontSize.px]=15>
            <input matInput placeholder="Pick your doctor" style="color: black;" value="Pick your doctor">
          </mat-form-field>
        </form>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>

  <!--<div class="col-md-6" style="background-color: red" [class.mat-elevation-z2]="true">-->
  <!--hello-->
  <!--</div>-->
  <!--<div class="col-md-6" style="background-color: blue" [class.mat-elevation-z2]="true">-->
  <!--hello-->
  <!--</div>-->
  <img src="../assets/doc_pic.jpeg" class="col-md-12" style="padding: 0px; height: 100%;">
</div>
