<div class="row overall">
  <div class="col-md-12 verticalAlign">
    <img src="./../../assets/logo.svg" style="height: 100px">
  </div>

  <div class="col-md-12 col-12 picture-container image-info">
    <router-outlet></router-outlet>
      <!--<abe-initial-options class="col-12 col-md-12"></abe-initial-options>-->
  </div>


</div>


<!--<div id="outer" class="row">-->
<!--<div id="inner_fixed" class="col-12 verticalAlign">-->
<!--<img src="./../../assets/logo.svg">-->
<!--</div>-->

<!--<div id="inner_remaining " class="col-12" style="padding:0px">-->
<!--<img class="col-md-12" style="padding: 0px" src="./../../assets/background.svg">-->
<!--</div>-->
<!--</div>-->
