.sign-up{
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.sign-up-card{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.butM{
  padding: 0;
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.warning-message{
  color: tomato;
  margin-bottom: 10px;
}
