<div class="col-md-12 col-12 center">
  <div class="but-container col-8 col-md-5">
    <button mat-raised-button
            class="login-button col-md-3 col-1"
            (click)="onLoginClick()">
      Login
    </button>
    <button mat-raised-button
            class="register-button col-md-3 col-1"
            (click)="onRegisterClick()">
      Register
    </button>
  </div>
</div>

<!--Todo: if there are problems resizing buttons refer to
    mediaqueries on initial-page options that is what is
    destroying the code-->
