.verticalAlign{
  display: flex;
  align-items: center;
  justify-content: center;
  height:-webkit-fill-available;
}
.separator{
  margin-bottom: 40px;
}

.center{
  display: flex;
  align-items: center;
  justify-content: center;
}
