.nameLabel{
  font-weight: 500;
  font-size: 16px;
  margin-bottom: 0px;
}

.practiceName {
  font-size: 32px;
  font-weight: 600;
  font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif ;
  margin-bottom: 0px;
}

.leftInfo{
  margin-top: 30px;
  margin-bottom: 20px;
}

.region {
  font-weight: 400;
  font-size: 20px;
  margin-bottom: 20px;
}
//--------------------------------------------------------
.rightInfo{
  margin-top: 30px;
  position: -webkit-sticky;
  position: sticky;
  top: 30px;
}

.money{
  font-weight: bold;
  font-size: 20px;
}

.dateContainer{
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dateHeader{
  font-size: 20px;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 0px;
}


.doctorQuote{
  margin-bottom: 20px;
  margin-top: 2em;
}

.services{
  margin-bottom: 20px;
}

mat-card{
  margin-bottom: 20px;
}



.custom-day {
  text-align: center;
  padding: 0.185rem 0.25rem;
  display: inline-block;
  height: 2rem;
  width: 2rem;
}
.custom-day.focused {
  background-color: #e6e6e6;
}
.custom-day.range, .custom-day:hover {
  background-color: rgb(2, 117, 216);
  color: white;
}
.custom-day.faded {
  background-color: rgba(2, 117, 216, 0.5);
}


.ngb-dp-month {
  width: 100%;
}
.ngb-dp-weekdays,
.ngb-dp-week {
  justify-content: space-evenly;
}
