<div class="row">
  <img class="col-md-12" [src]="dr.imgUrl" style="padding: 0px; height: 500px">

  <div class="col-md-10 col-12  offset-md-1">


    <div class="col-md-7 col-xl-7 col-12 leftInfo">
      <p class="nameLabel col-md-12">Clinic Name</p>
      <p class="col-md-12 practiceName">{{dr.clinicName}}</p>
      <p class="col-md-12 region">{{dr.headPhysician}}</p>

      <mat-card
        style="margin-top:2em"
        class="col-md-12 col-12">
        <!--<p class="col-md-12">Name: {{dr.drName}}</p>-->
        <p class="col-md-12">{{dr.description}}</p>
        <p class="col-md-12">{{dr.address}}</p>
      </mat-card>

      <mat-card
        class="col-md-12 col-12 doctorQuote">
        <mat-card-title>
          <p>A word from the doctor</p>
        </mat-card-title>
        <p>{{dr.description}}</p>
      </mat-card>

      <mat-card>
        <mat-card-title>
          <p>Services</p>
        </mat-card-title>

      </mat-card>

      <mat-card class="col-md-12" style="margin-top: 20px">
        <abe-address></abe-address>
      </mat-card>

      <div class="col-md-12" align="center" *ngIf="false">
        <ngb-datepicker [class.mat-elevation-z2]="true" #dp (select)="onDateSelection($event)"
                        [displayMonths]="2"
                        [dayTemplate]="t"
                        outsideDays="hidden">
        </ngb-datepicker>

        <ng-template class="col-md-12" #t let-date let-focused="focused">
          <span class="custom-day col-md-12"
                [class.focused]="focused"
                [class.range]="isRange(date)"
                [class.faded]="isHovered(date) || isInside(date)"
                (mouseenter)="hoveredDate = date"
                (mouseleave)="hoveredDate = null">{{ date.day }}
            </span>
        </ng-template>

      </div>


    </div>

    <div class="col-xl-4 col-md-4" style="margin-bottom: 30px">
      <mat-card class="col-md-12 rightInfo">
        <p><span class="money">$ {{dr.visitFee}}</span> per month</p>
        <hr>

        <p class="dateHeader">Date</p>
        <div class="col-md-12 dateContainer">
          <mat-form-field>
            <input matInput [matDatepicker]="picker" placeholder="Choose an available date">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <!--<mat-datepicker #picker></mat-datepicker>-->
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>

        </div>

        <p>Type of visit</p>
        <div class="col-md-12 dateContainer">
          <mat-form-field>
            <mat-select [(value)]="selected">
              <mat-option>None</mat-option>
              <mat-option value="option1">Option 1</mat-option>
              <mat-option value="option2">Option 2</mat-option>
              <mat-option value="option3">Option 3</mat-option>
            </mat-select>
          </mat-form-field>

        </div>


        <div class="dateContainer">
          <button mat-raised-button color="primary" style="color: white;">
            Schedule free visit
          </button>
        </div>
      </mat-card>


    </div>
  </div>

  <!--<div class="col-md-12">-->
    <!--<pre>From: {{ fromDate | json }} </pre>-->
    <!--<pre>To: {{ toDate | json }} </pre>-->
  <!--</div>-->

</div>
